<!DOCTYPE html>
<!-- saved from url=(0014)about:internet -->
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>{{metadata.title}}</title>
    <meta
      name="description"
      content="{{metadata.description}}"
    />

    <!-- Recommended minimum -->
    <meta property="og:url" content="{{metadata.url}}{{page.url}}" />
    <meta property="og:title" content="{{pageTitle}}" />
    <meta
      property="og:description"
      content="{{description}}"
    />
    <meta property="og:image" content="{{metadata.url}}/img/site-image.png" />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- You could also inline the stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />
  
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "9ae4d6b60f054ae2aba7eb16f93a3f47"}'></script>
    <!-- End Cloudflare Web Analytics -->
  </head>
  <body>
    <header>
      <h1>
        <a href="/">Sebastian Schoebinger</a>
      </h1>
      <nav>
        <a href="/about">About</a>
        <a href="/">Blog</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/impressum">Legal</a>
        <!-- <a href="#portfolio">Portfolio</a> -->
      </nav>
    </header>

    <main>
      <section id="home">
        <!-- HOME -->
        {{ content }}
      </section>
    </main>
  </body>
</html>
